@import 'base.css';

img,
svg {
  height: 100%;
}

.content {
  max-width: 800px;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  height: 50px;
  position: fixed;
}

.menu {
  height: 50px;
  white-space: nowrap;
  display: block;
}

.links {
  margin: auto;
  text-align: center;
  width: 50%;
  height: 100%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links ul {
  display: flex;
  width: auto;
  padding: 0;
  margin: 0;
}

.links ul li {
  float: left;
  display: inline-block;
  margin-left: 5%;
  margin-right: 5%;
}

.links ul li a {
  color: black;
  text-decoration: none;
}

.links ul li a:hover {
  border-bottom: 2px solid black;
}
